.containerDashboard {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: space-between;
    border: 3px solid red; /* Solo para visualizar el contenedor */
}

.expenseTableContainer{
    width: 70%; /* Limita el ancho de la tabla de gastos */
    border: 1px solid red; /* Solo para visualizar el contenedor */
    padding: 1rem;
    height: 100%;
}

.buttonsContainer{
    width: 100%; /* Limita el ancho del componente AddExpense */
    border: 1px solid red; /* Solo para visualizar el contenedor */
}