.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: 30px !important;
  color: #482e1d !important;
  text-align: left !important;
}


.containerDashboard {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  //border: 3px solid purple; /* Solo para visualizar el contenedor */
  height: 100%;
}
.leftBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  //border: 3px dotted green; /* Solo para visualizar el contenedor */
  width: 30%;
  margin: 0% 2% 2% 4%;
}
.expenseTableContainer {
  display: flex;
  width: 100%; /* Limita el ancho de la tabla de gastos */
  height: 100%;
  gap: 1rem;
  justify-content: center;
}

.rightBar {
  width: 200%; /* Limita el ancho del componente AddExpense */
  margin: 0% 4% 2% 2%;
  //border: 3px solid orange; /* Solo para visualizar el contenedor */
  height: 100%;
}
.expenseResume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //border: 3px dotted red; /* Solo para visualizar el contenedor */
width: 100%;
}
.incomeResume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //border: 3px dotted blue; /* Solo para visualizar el contenedor */
  width: 100%;
}
.resumeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px dotted yellow;
  width: 100%;
  height: 20%;
}
.setSavingsBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px dotted pink;
  width: 100%;
}